server:
  port: 8082

spring:
  application:
    name: notification-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: notifications_db
  mail:
    host: smtp.gmail.com
    port: 587
    username: ognotified@gmail.com
    password: dtxapvlimhplbxgs
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# Telegram configuration
telegram:
  bot-token: 8502350218:AAEfNrL4qshYqu00sW2UiTGqIu_CgN_qprg
  polling:
    enabled: true

# News API configuration
news:
  api:
    token: ${NEWS_API_TOKEN:KSPQ9Y8oPUK1gKlOaVJIMjb6GGF5acsASUABdhjs}
    base-url: https://api.thenewsapi.com/v1/news/all
