server:
  port: 8081

spring:
  application:
    name: user-preference-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: user_preferences_db

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
