server:
  port: 8081

spring:
  application:
    name: user-preference-service
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb+srv://ognotified_db_user:G2cV7IZmlb2cx5QF@ognotified.znqibuc.mongodb.net/user_preferences_db?retryWrites=true&w=majority&appName=OGNOTIFIED}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
